<div class="container">    
        <form>
          <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input type="text" id="user" [ngModel]="username" (ngModelChange)="username = $event" name="user" placeholder="User" class="form-control" >
          </div>
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input id="email" type="text" class="form-control" name="email" placeholder="Email">
          </div>
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input id="password" type="password" class="form-control" name="password" placeholder="Password">
          </div>
        </form>
        
</div>

<!--
<div class="container">
        <input [ngModel]="username" (ngModelChange)="username = $event">
        
</div> -->

<div class="container">
    <h3>This is <mark>{{username}}</mark> project</h3> <!--two way binding-->
   <!-- <h1>This is <mark>{{title}}'s</mark> project</h1>--> <!--One way binding-->
</div>

<!-------------------------------------------------------------------------------------------------
-->


<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse1">Product Detail</a>
            </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse">
            <div class="panel-body">
                    <div class="row">
                        <div class="col-md-2">Filter By:</div>
                            <div class="col-md-4">
                                <input type="text" [(ngModel)] ="filterProduct"
                                 placeholder="Enter your text"/>
                            </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                                <h3 id="headFilter">Filtered By:{{filterProduct}}</h3>
                        </div>
                    </div>
                <div class="table-responsive" *ngIf="products && products.length">
                <table class="table" >
                    <thead>
                        <tr>
                          <button class="btn btn-success"
                          (click)="toggleImage()">
                          {{showImage?"Hide Image":"Show Image"}}
                          </button>
                             <th>Name</th>
                             <th>price</th>
                             <th>Quantity</th>
                             <th>Type</th>
                         </tr>
                     </thead>
                     <tbody>
                        <tr *ngFor="let product of products|productFilter:filterProduct">
                            <td></td>
                             <td>{{product.product_name|uppercase}}</td>
                             <td>{{product.product_price|currency:"GBP"}}</td>
                             <td>{{product.product_quantity}}</td>
                            <td>{{product.product_type|uppercase}}</td>
                         </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
</div>   
